.button {
  font-size: var(--14px);
  border: 0;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  cursor: pointer;
}

.filled {
  color: var(--white-black);
  background-color: var(--black-white);
}

.outline {
  color: var(--black-white);
  background-color: var(--white-black);
  border: 1px solid var(--black-white);
}
