.link {
  letter-spacing: 0.15rem;
  line-height: 2;
  text-transform: uppercase;
  display: inline-block;
  color: var(--black-white);
  font-family: var(--font-sansProBold);
}

.underline {
  width: 1.87513rem;
  height: 0.125rem;
  background: -webkit-linear-gradient(
    180deg,
    var(--pink) 0%,
    var(--pumpkin) 100%
  );
}

.link:hover .underline {
  width: 100%;
}

@media (width < 75rem) {
  .link {
    font-size: 0.875rem;
    line-height: 1.75;
  }
}
