.heroContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  justify-content: space-between;
  padding-top: 185px;
  padding-bottom: 84px;
  position: relative;
}

.heroContainer div {
  max-width: 40.875rem;
  height: 100%;
}

.heroContainer h1 {
  text-align: right;
}

.image {
  position: absolute;
  bottom: 0;
  left: 42px;
  width: auto;
  height: 60%;
}

.heroContainer p {
  font-size: var(--60px);
  font-family: var(--font-sansProBold);
  line-height: 1.3;
  max-width: 53.125rem;
}

.background {
  background-color: var(--seasalt-night);
}

.moreInfo {
  display: flex;
  justify-content: space-between;
}

.moreInfo h2 {
  font-size: var(--36px);
  font-family: var(--font-sansProBold);
  padding-bottom: 60px;
}

.moreInfo p {
  font-size: var(--18px);
  line-height: 1.5;
}

.infoWrapper {
  max-width: 30rem;
}
