.heroContainer {
  display: flex;
  padding: 11.563rem 3rem 5.25rem;
  justify-content: space-between;
  max-width: 106.25rem;
  margin: 0 auto;
}

.heroContainer div {
  max-width: 40.875rem;
  height: 100%;
}

.heroContainer p {
  font-size: var(--h2);
  font-family: var(--font-sansProBold);
  line-height: 1.3;
  max-width: 53.125rem;
}

.background {
  background-color: var(--seasalt-night);
}

.expSection {
  display: flex;
  flex-direction: row-reverse;
}

.expSection h2 {
  line-height: 1;
}

.experience {
  width: 100%;
}

.experienceImg {
  background-color: #24282c;
  max-width: 600px;
  width: 100%;
  height: 400px;
  display: grid;
  place-content: center;
}

.experienceText {
  background-color: var(--white);
  color: var(--black);
  padding: 70px;
  max-width: 48.125rem;
  margin-top: -150px;
  margin-right: -380px;
  margin-left: 380px;
  box-shadow: -3.0616168932349032e-15px 50px 25px 0px var(--black-opacity-10);
}

.experienceText div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.experienceText h3 {
  padding-bottom: 2rem;
}

.experienceText div p {
  max-width: 270px;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
}

.moreInfo h2 {
  font-size: var(--h3);
  font-family: var(--font-sansProBold);
  padding-bottom: 60px;
}

.moreInfo p {
  font-size: var(--text-xl);
  line-height: 1.5;
}

.infoWrapper {
  max-width: 30rem;
  width: 100%;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide p {
  padding: 1.63rem 0;
  font-size: var(--text-xl);
}

.embla__prev {
  transform: rotate(90deg);
}

.embla__next {
  transform: rotate(-90deg);
  margin-left: 32px;
}

.embla__next,
.embla__prev {
  background: none;
  border: 0;
  cursor: pointer;
}

@media (max-width: 98.75rem) {
  .heroContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContainer p {
    /* font-size: var(--48px); */
    padding-top: 1.5rem;
  }
}

@media (max-width: 80rem) {
  .experienceImg {
    max-width: 525px;
    height: 350px;
  }

  .experienceText {
    margin-left: 260px;
    margin-top: -125px;
  }
}

@media (width < 75rem) {
  .moreInfo {
    gap: 2.5rem;
  }
}

@media (width < 64rem) {
  .heroContainer {
    padding-top: 128px;
  }

  .experienceText {
    max-width: 40rem;
  }
}

@media (width < 62rem) {
  .experienceImg {
    max-width: 380px;
    height: 270px;
  }

  .experienceText {
    margin-left: 100px;
    margin-top: -80px;
    padding: 60px;
    max-width: 37rem;
  }

  .moreInfo {
    flex-direction: column;
  }

  .moreInfo h2 {
    padding-bottom: 30px;
  }

  .infoWrapper {
    max-width: initial;
  }
}

@media (width < 48rem) {
  .expSection {
    flex-direction: column;
    gap: 2rem;
  }

  .experienceImg {
    max-width: 100%;
  }

  .experienceText {
    margin: 0;
    max-width: 100%;
    padding: 40px;
  }

  .experienceText div {
    flex-direction: column;
    gap: 1.5rem;
  }

  .experienceText div p {
    max-width: 100%;
  }
}
