.container {
  display: flex;
  gap: 36px;
}

.container a {
  color: var(--black-white);
}

.container a:hover {
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 80rem) {
  .container {
    gap: 26px;
  }
}

@media (width < 48rem) {
  .container {
    flex-direction: column;
    gap: 18px;
  }
}
