.container {
  display: inline-flex;
  gap: 36px;
}

.container a {
  color: var(--black-white);
}

.container a:hover {
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (width < 75rem) {
  .container {
    gap: 26px;
  }
}
