.getInTouch {
  padding-top: 12rem;
}

.wrapper {
  background-color: var(--white-black);
  padding: 3rem 4rem 4rem;
  box-shadow: -2.4492935992912173e-15px 0px 250px 0px rgba(104, 120, 143, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introContainer {
  text-align: center;
}

.introContainer h1 {
  font-size: var(--48px);
}

.introContainer p {
  color: var(--gray);
  padding: 0.75rem 0 4.5rem;
  max-width: 29rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2.875rem;
}

.inputContainer {
  position: relative;
  min-width: 16.875rem;
}

.message {
  grid-column: 1/3;
}

.button {
  grid-column: 1/3;
  display: grid;
  place-content: center;
}
