/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root,
#__next {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors - site colors */
  --transparent: transparent;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(237, 9%, 61%);
  --seasalt: hsl(0, 0%, 98%);
  --night: hsl(0, 0%, 14%);
  --pink: hsl(331, 93%, 48%);
  --pumpkin: hsl(25, 100%, 50%);
  --red: hsl(352, 90%, 57%);

  /* Themes - to change colors for dark light mode */
  --black-white: var(--black);
  --white-black: var(--white);
  --seasalt-night: var(--seasalt);

  --black-opacity-10: hsla(0, 0%, 0%, 0.1);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  --black-opacity-90: rgba(0, 0, 0, 0.9);

  --white-black-90: var(--white-opacity-90);

  /* Font sizes */
  --10px: 0.625rem; /*xxs*/
  --12px: 0.75rem; /*xs*/
  --14px: 0.875rem; /*s*/
  --16px: 1rem; /*m*/
  --18px: 1.125rem; /*l*/
  --24px: 1.5rem; /*xl*/
  --30px: 1.875rem; /*xxl*/
  --36px: 2.25rem; /*xxxl*/
  --48px: 3rem; /*4xl*/
  --60px: 3.375rem; /*5xl*/
  --72px: 4.5rem; /*6xl*/
  --84px: 5.25rem; /*title*/

  --text-xxs: clamp(0.7rem, -0.22vw + 0.75rem, 0.58rem);
  --text-xs: clamp(0.79rem, -0.17vw + 0.82rem, 0.69rem);
  --text-s: clamp(0.89rem, -0.1vw + 0.91rem, 0.83rem);
  --text-m: clamp(1rem, 0vw + 1rem, 1rem);
  --text-l: clamp(1.13rem, 0.13vw + 1.1rem, 1.2rem);
  --text-xl: clamp(1.27rem, 0.31vw + 1.2rem, 1.44rem);
  --text-xxl: clamp(1.42rem, 0.54vw + 1.32rem, 1.73rem);
  --text-3xl: clamp(1.6rem, 0.84vw + 1.43rem, 2.07rem);
  --text-4xl: clamp(1.8rem, 1.22vw + 1.56rem, 2.49rem);

  --h6: clamp(0.8rem, 0.45vw + 0.71rem, 1.06rem);
  --h5: clamp(1rem, 0.72vw + 0.86rem, 1.41rem);
  --h4: clamp(1.25rem, 1.11vw + 1.03rem, 1.88rem);
  --h3: clamp(1.56rem, 1.67vw + 1.23rem, 2.5rem);
  --h2: clamp(1.95rem, 2.46vw + 1.46rem, 3.33rem);
  --h1: clamp(2.44rem, 3.56vw + 1.73rem, 4.44rem);
  --title: clamp(3.05rem, 5.11vw + 2.03rem, 5.92rem);
  --h-xl: clamp(5.96rem, 14.36vw + 3.09rem, 14.02rem);

  /* 
  FONTS:
  var(--font-sansProExtraBold);
  var(--font-sansProBold);
  var(--font-sansProSemiBold);
  var(--font-sansProMedium);
  var(--font-sansProRegular);
  var(--font-sansProMediumItalic);
  var(--font-butlerMedium);
  var(--font-butlerBold);
  var(--font-butlerBlack); 
  */
}

[data-theme="dark"] {
  --black-white: var(--white);
  --white-black: var(--black);
  --seasalt-night: var(--night);
  --white-black-90: var(--black-opacity-90);
}

/* Custom global styles */
html,
body {
  font-family: var(--font-sansProMedium);
}

h1,
h2 {
  font-family: var(--font-butlerBlack);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  letter-spacing: -0.15rem;
}

h3 {
  font-size: var(--h3);
  font-family: var(--font-sansProBold);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: var(--text-m);
}

a {
  text-decoration: none;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: var(--text-s);
}

li {
  font-size: var(--text-m);
}

input,
textarea {
  border: none;
  border-bottom: 1px solid var(--gray);
  border-radius: 0;
  background-color: var(--white-black);
  padding: 0 0 0.8rem;
  font-size: var(--text-m);
  width: 100%;
}

input:focus,
textarea:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  opacity: 0;
}
:-ms-input-placeholder {
  opacity: 0;
}
::placeholder {
  opacity: 0;
}

.headingSpecial {
  display: inline-block;
  position: relative;
  /* font-size: 12.5rem; */
  font-size: var(--h-xl);
  letter-spacing: -0.625rem;
  line-height: 1;
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smallGrayHeading {
  color: var(--gray);
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.maxWidth {
  max-width: 73.125rem;
}

.max-width-wrapper {
  max-width: 76.125rem;
  margin: 0 auto;
  padding: 84px 48px;
}

.two-trans {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.three-trans {
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

/* Breakpoints
  480px: 30rem;
  768px: 48rem;
  992px: 62rem; Mobile Nav Breakpoint
  1024px: 64rem;
  1200px: 75rem;
  1280px: 80rem; */

@media (max-width: 80rem) {
  .headingSpecial {
    letter-spacing: -0.4rem;
  }
}

@media (width < 64rem) {
  .max-width-wrapper {
    padding: 72px 48px;
  }
}

@media (width < 48rem) {
  .max-width-wrapper {
    padding: 60px 48px;
  }

  .headingSpecial {
    letter-spacing: -0.25rem;
  }
}

@media (width < 30rem) {
  .max-width-wrapper {
    padding: 48px 32px;
  }
}
