.logo {
  font-size: 2.25rem;
  font-family: var(--font-sansProSemiBold);
  line-height: 1;
  letter-spacing: -0.1rem;
}

.logo span {
  color: var(--gray);
}

.copywrite {
  color: var(--gray);
  font-family: var(--font-sansProRegular);
  font-size: 0.75rem;
  line-height: 3;
}
