.logo {
  font-size: var(--text-4xl);
  font-family: var(--font-sansProSemiBold);
  line-height: 1;
  letter-spacing: -0.1rem;
}

.logo span {
  color: var(--gray);
}

.copywrite {
  color: var(--gray);
  font-family: var(--font-sansProRegular);
  font-size: var(--text-xxs);
  line-height: 3;
}
