.logo {
  font-size: var(--36px);
  font-family: var(--font-sansProSemiBold);
  line-height: 1;
  letter-spacing: -0.1rem;
}

.logo span {
  color: var(--gray);
}

.copywrite {
  color: var(--gray);
  font-family: var(--font-sansProRegular);
  font-size: var(--10px);
  line-height: 3;
}

@media (width < 75rem) {
  .logo {
    font-size: 2rem;
  }
  .copywrite {
    font-size: 0.625rem;
  }
}
