/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --transparent: transparent;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(237, 9%, 61%);
  --seasalt: hsl(0, 0%, 98%);
  --night: hsl(0, 0%, 14%);
  --pink: hsl(331, 93%, 48%);
  --pumpkin: hsl(25, 100%, 50%);
  --red: hsl(352, 90%, 57%);

  --black-white: var(--black);
  --white-black: var(--white);
  --seasalt-night: var(--seasalt);

  /* 
  FONTS:
  var(--font-sansProExtraBold);
  var(--font-sansProBold);
  var(--font-sansProSemiBold);
  var(--font-sansProMedium);
  var(--font-sansProRegular);
  var(--font-sansProMediumItalic);
  var(--font-butlerMedium);
  var(--font-butlerBold);
  var(--font-butlerBlack); 
  */
}

[data-theme="dark"] {
  --black-white: var(--white);
  --white-black: var(--black);
  --seasalt-night: var(--night);
}

/* Custom global styles */
html,
body {
  font-family: var(--font-sansProMedium);
}

h1,
h2 {
  font-family: var(--font-butlerBlack);
}

h2 {
  font-size: 6rem;
  letter-spacing: -0.15rem;
}

h4 {
  font-size: 1.5rem;
  font-family: var(--font-sansProMedium);
}

a {
  text-decoration: none;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.headingSpecial {
  display: inline-block;
  position: relative;
  font-size: 12.5rem;
  letter-spacing: -10px;
  line-height: 1;
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maxWidth {
  max-width: 73.125rem;
}

.sectionContainer {
  max-width: 73.125rem;
  margin: 0 auto;
  padding-top: 98px;
  padding-bottom: 98px;
}

.two-trans {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.three-trans {
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
