/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors - site colors */
  --transparent: transparent;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(237, 9%, 61%);
  --seasalt: hsl(0, 0%, 98%);
  --night: hsl(0, 0%, 14%);
  --pink: hsl(331, 93%, 48%);
  --pumpkin: hsl(25, 100%, 50%);
  --red: hsl(352, 90%, 57%);

  /* Themes - to change colors for dark light mode */
  --black-white: var(--black);
  --white-black: var(--white);
  --seasalt-night: var(--seasalt);

  /* Font sizes */
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --48px: 3rem;
  --60px: 3.375rem;
  --72px: 4.5rem;
  --84px: 5.25rem;

  /* 
  FONTS:
  var(--font-sansProExtraBold);
  var(--font-sansProBold);
  var(--font-sansProSemiBold);
  var(--font-sansProMedium);
  var(--font-sansProRegular);
  var(--font-sansProMediumItalic);
  var(--font-butlerMedium);
  var(--font-butlerBold);
  var(--font-butlerBlack); 
  */

  /* Breakpoints
  480px: 30rem;
  768px: 48rem;
  992px: 62rem; Mobile Nav Breakpoint
  1024px: 64rem;
  1200px: 75rem;
  1280px: 80rem; */
}

[data-theme="dark"] {
  --black-white: var(--white);
  --white-black: var(--black);
  --seasalt-night: var(--night);
}

/* Custom global styles */
html,
body {
  font-family: var(--font-sansProMedium);
}

h1,
h2 {
  font-family: var(--font-butlerBlack);
}

h1 {
  font-size: var(--84px);
}

h2 {
  font-size: var(--72px);
  letter-spacing: -0.15rem;
}

h3 {
  font-size: var(--36px);
  font-family: var(--font-sansProBold);
}

h4 {
  font-size: var(--24px);
}

p {
  font-size: var(--16px);
}

a {
  text-decoration: none;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: var(--14px);
}

li {
  font-size: var(--16px);
}

.headingSpecial {
  display: inline-block;
  position: relative;
  font-size: 12.5rem;
  letter-spacing: -0.625rem;
  line-height: 1;
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maxWidth {
  max-width: 73.125rem;
}

.max-width-wrapper {
  max-width: 76.125rem;
  margin: 0 auto;
  padding: 98px 48px;
}

.two-trans {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.three-trans {
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (max-width: 80rem) {
  .headingSpecial {
    font-size: 10rem;
    letter-spacing: -0.4rem;
  }
}

@media (width < 64rem) {
  .headingSpecial {
    font-size: 7rem;
  }

  h1 {
    font-size: var(--72px);
  }

  h2 {
    font-size: var(--60px);
  }

  h3 {
    font-size: var(--30px);
  }

  h4 {
    font-size: var(--18px);
  }

  p {
    font-size: var(--14px);
  }

  a {
    font-size: var(--12px);
  }

  li {
    font-size: var(--14px);
  }
}

@media (width < 48rem) {
  .max-width-wrapper {
    padding: 74px 48px;
  }

  .headingSpecial {
    font-size: var(--84px);
    letter-spacing: -0.25rem;
  }
}

@media (width < 30rem) {
  .max-width-wrapper {
    padding: 64px 32px;
  }
}
