/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --transparent: transparent;
  --white: #ffffff;
  --black: #000000;
  --gray: #9192a4;
  --seasalt: #fafafa;
  --night: #232323;
  --pink: #ee0979;
  --pumpkin: #ff6a00;
  --red: #f42f48;

  --black-white: var(--black);
  --white-black: var(--white);
  --seasalt-night: var(--seasalt);

  /* 
  FONTS:
  var(--font-sansProExtraBold);
  var(--font-sansProBold);
  var(--font-sansProSemiBold);
  var(--font-sansProMedium);
  var(--font-sansProRegular);
  var(--font-sansProMediumItalic);
  var(--font-butlerMedium);
  var(--font-butlerBold);
  var(--font-butlerBlack); 
  */
}

[data-theme="dark"] {
  --black-white: var(--white);
  --white-black: var(--black);
  --seasalt-night: var(--night);
}

/* Custom global styles */
html,
body {
  font-family: var(--font-sansProMedium);
}

h1,
h2 {
  font-family: var(--font-butlerBlack);
}

p,
a {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.headingSpecial {
  display: inline-block;
  position: relative;
  font-size: 12.5rem;
  line-height: 1;
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.two-trans {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.three-trans {
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
