/* Hero Section Start */
.heroSection {
  position: relative;
  height: 100vh;
}

.gridContainer {
  display: grid;
  place-content: center;
  height: 100%;
  column-gap: 8%;
}

.hello {
  font-family: var(--font-sansProExtraBold);
  font-size: var(--36px);
  color: var(--gray);
  letter-spacing: -0.1rem;
  margin-left: 10.75rem;
  margin-top: 6rem;
}

.h1 {
  grid-row-start: 2;
  z-index: 4;
}

.h2 {
  grid-row-start: 2;
  z-index: 2;
}

.textContainer {
  grid-row-start: 3;
  position: relative;
  z-index: 4;
}

.textContainer div {
  max-width: 18rem;
  margin-left: auto;
}

.textContainer p {
  color: var(--gray);
  font-family: var(--font-sansProBold);
  position: relative;
  left: 15%;
}

.buttonContainer {
  position: relative;
  grid-row-start: 3;
  grid-column-start: 1;
  z-index: 4;
}

.buttonContainer a {
  color: var(--white-black);
  background: var(--black-white);
  text-transform: uppercase;
  font-family: var(--font-sansProBold);
  font-size: var(--12px);
  letter-spacing: 0.15rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 8.3125rem;
  height: 8.3125rem;
  left: 15%;
  top: 40%;
}

.imageContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.image {
  width: auto;
  max-width: none;
  height: 85vh;
}

.backgroundBlur {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 246px;
  height: 268px;
  background: var(--black-white);
  z-index: 0;
  border-radius: 267px;
  filter: blur(250px);
  bottom: 240px;
}

.leftBar {
  position: absolute;
  bottom: 44px;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.leftBar a:hover svg path {
  fill: url("#iconHover");
}

@media (width < 80rem) {
  .hello {
    font-size: 2rem;
    margin-left: 7.75rem;
  }

  .textContainer div {
    max-width: 14rem;
  }

  .textContainer p {
    font-size: 1rem;
  }

  .buttonContainer a {
    width: 6.8125rem;
    height: 6.8125rem;
    top: 82px;
    font-size: 0.65rem;
  }

  .backgroundBlur {
    width: 196px;
    height: 218px;
  }
}

/* Hero Section End */

/* About Section Start */
.aboutSection {
  background: var(--seasalt-night);
}

.aboutContainer {
  max-width: 45.4375rem;
  margin-left: auto;
}

.aboutContainer p {
  font-size: var(--30px);
  line-height: 1.5;
  font-family: var(--font-sansProExtraBold);
}

.aboutContainer p:last-of-type {
  margin: 1.563rem 0 3.625rem 0;
}

.aboutFlexContainer {
  display: flex;
  justify-content: space-between;
}

.aboutContainer img {
  height: 100%;
  width: 10.125rem;
}

.aboutContainer a {
  text-transform: uppercase;
  font-family: var(--font-sansProBold);
  color: var(--black-white);
}

@media (width < 48rem) {
  .aboutContainer p {
    font-size: 1.5rem;
  }

  .aboutContainer img {
    width: 9.75rem;
  }
}

@media (width < 32rem) {
  .aboutContainer p {
    font-size: 1.25rem;
  }

  .aboutContainer img {
    width: 8.875rem;
  }
}
/* About Section End */

/* Skills Section Start */
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  color: var(--gray);

  list-style-type: none;
  margin: 2.75rem 0 0;
  padding: 0;
}

.list li {
  font-size: 1.125rem;
  line-height: 1.85;
}
/* Skills Section End */
