.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
  justify-items: center;
  column-gap: 136px;
  row-gap: 50.4px;
  max-width: 30rem;
}

.container svg:hover path {
  fill: url("#iconHover");
}
