.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 136px;
  row-gap: 50.4px;
  max-width: 30rem;
}

.container svg:hover path {
  fill: url("#iconHover");
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  color: var(--gray);

  list-style-type: none;
  margin: 2.75rem 0 0;
  padding: 0;
}

.list li {
  line-height: 1.85;
}

@media (max-width: 62rem) {
  .container {
    column-gap: 50.4px;
  }
}

@media (width < 48rem) {
  .container {
    width: 100%;
  }

  .container svg {
    height: 60px;
  }

  .skills {
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    margin-top: 1.125rem;
    margin-bottom: 2.75rem;
  }
}
