.line {
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  opacity: 0.3019607961177826;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 98px;
}

@media (width < 48rem) {
  .wrapper {
    padding-top: 74px;
  }
}

@media (width < 32rem) {
  .wrapper {
    padding-top: 64px;
  }
}
