.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--gray);
  background: none;
  border: 0;
}

.button p {
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: var(--text-s);
}

.button p:first-child {
  margin-right: 20px;
}

.button p:last-child {
  margin-left: 20px;
}

.circle {
  border: 2px solid var(--gray);
  border-radius: 50%;
  position: relative;
  width: 13px;
  height: 13px;
  z-index: 2;
}

.darkCircle {
  transform: translateX(12px);
  background-color: var(--gray);
}

.lightCircle {
  transform: translateX(-12px);
  background-color: var(--white);
}

.line {
  position: absolute;
  background-color: var(--gray);
  width: 16px;
  height: 2px;
  border-radius: 12px;
  right: -2px;
  z-index: 1;
}

.lineDark {
  transform: translateX(-80px);
}

.lineLight {
  transform: translateX(-68px);
}
