.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--gray);
  background: none;
  border: 0;
}

.button p {
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: var(--16px);
}

.button p:first-child {
  margin-right: 20px;
}

.button p:last-child {
  margin-left: 20px;
}

.circle {
  border: 2px solid var(--gray);
  border-radius: 50%;
  position: relative;
  width: 13px;
  height: 13px;
  z-index: 2;
}

.darkCircle {
  transform: translateX(85%);
  background-color: var(--gray);
}

.lightCircle {
  transform: translateX(-100%);
  background-color: var(--white);
}

.line {
  position: absolute;
  background-color: var(--gray);
  width: 16px;
  height: 2px;
  border-radius: 12px;
  right: -2px;
  z-index: 1;
}

.lineDark {
  transform: translateX(-530%);
}

.lineLight {
  transform: translateX(-465%);
}

@media (width < 64rem) {
  .button {
    margin: 0 auto;
  }
}
