/* Hero Section Start */
.heroSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gridContainer {
  display: grid;
  place-content: center;
  height: 100%;
  column-gap: 8%;
}

.hello {
  font-family: var(--font-sansProExtraBold);
  font-size: var(--text-4xl);
  color: var(--gray);
  letter-spacing: -0.1rem;
  margin-left: 10.75rem;
  margin-top: 3rem;
  overflow: hidden;
}

.hello span {
  display: inline-block;
  transform: translateY(100%);
}

.h1 {
  grid-row-start: 2;
  z-index: 4;
  opacity: 0;
}

.h2 {
  grid-row-start: 2;
  z-index: 2;
  opacity: 0;
}

.heroHeading {
  opacity: 0;
}

.heroKevin div,
.heroSimon div {
  background: -webkit-linear-gradient(var(--pink), var(--pumpkin));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textContainer {
  grid-row-start: 3;
  position: relative;
  z-index: 4;
}

.textContainer div {
  max-width: 18rem;
  margin-left: auto;
}

.textContainer p {
  color: var(--gray);
  font-family: var(--font-sansProBold);
  position: relative;
  left: 15%;
  opacity: 0;
}

.buttonContainer {
  position: relative;
  grid-row-start: 3;
  grid-column-start: 1;
  z-index: 4;
}

.buttonContainer a {
  color: var(--white-black);
  background: var(--black-white);
  text-transform: uppercase;
  font-family: var(--font-sansProBold);
  font-size: var(--text-xs);
  letter-spacing: 0.15rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 8.3125rem;
  height: 8.3125rem;
  left: 15%;
  top: 40%;
}

.imageContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.image {
  width: auto;
  max-width: none;
  height: 85vh;
  transform-origin: bottom;
  transform: scale(0.8);
  opacity: 0;
}

.backgroundBlur {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 246px;
  height: 268px;
  background: var(--black-white);
  z-index: 0;
  border-radius: 267px;
  filter: blur(250px);
  bottom: 240px;
  transform-origin: bottom;
  transform: scale(0.8);
  opacity: 0;
}

.imageOverlay {
  position: absolute;
  /* inset: 0; */
  z-index: 4;
  background-color: black;
  /* transform: scaleY(0.1); */
  height: 5vh;
  width: 100%;
  bottom: 0;
  transform-origin: bottom center;
}

.leftBar {
  position: absolute;
  bottom: 44px;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.leftBar a:hover svg path {
  fill: url("#iconHover");
}

@media (width < 80rem) {
  .gridContainer {
    column-gap: 12%;
  }

  .hello {
    margin-left: 7.75rem;
    margin-top: 6rem;
  }

  .textWrapper {
    max-width: 14rem;
  }

  .textContainer p {
    left: 0%;
    color: var(--black-white);
  }

  .buttonContainer a {
    top: 82px;
  }

  .image {
    height: 80vh;
  }
}

@media (width < 64rem) {
  .gridContainer {
    column-gap: 8%;
  }

  .hello {
    margin-top: 0;
    margin-left: 5rem;
  }

  .textWrapper {
    max-width: auto;
    margin-bottom: 6rem;
    max-width: 12rem;
  }

  .buttonContainer a {
    width: 6.8125rem;
    height: 6.8125rem;
  }

  .image {
    height: 60vh;
  }

  .textContainer p {
    color: var(--gray);
  }
}

@media (width < 48rem) {
  .heroSection {
    overflow: hidden;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px 32px 0;
  }

  .hello {
    margin-left: 0;
    margin-bottom: 1rem;
    height: 7rem;
  }

  .h2 {
    margin-top: -10px;
    display: block;
  }

  .textWrapper {
    margin: 1rem 0;
    max-width: 20rem;
    text-align: center;
  }

  .buttonContainer {
    height: 50%;
    position: absolute;
    left: 32px;
  }

  .buttonContainer a {
    left: 0%;
    bottom: 10%;
    top: auto;
    gap: 2px;
    font-size: 8px;
    width: 5.25rem;
    height: 5.25rem;
  }

  .buttonContainer svg {
    width: 10px;
    height: 15px;
  }

  .imageContainer {
    height: 100%;
    align-self: center;
    transform: translateX(0%);
    position: static;
  }

  .image {
    height: 100%;
  }

  .backgroundBlur {
    width: 186px;
    height: 198px;
  }

  .leftBar {
    display: none;
  }
}

/* Hero Section End */

/* About Section Start */
.aboutSection {
  background: var(--seasalt-night);
}

.aboutContainer {
  max-width: 45.4375rem;
  margin-left: auto;
}

.aboutContainer p {
  font-size: var(--text-xxl);
  line-height: 1.5;
  font-family: var(--font-sansProExtraBold);
}

.aboutContainer p:last-of-type {
  margin: 1.563rem 0 3.625rem 0;
}

.aboutFlexContainer {
  display: flex;
  justify-content: space-between;
}

.aboutContainer img {
  height: 100%;
  width: 10.125rem;
}

.aboutContainer a {
  text-transform: uppercase;
  font-family: var(--font-sansProBold);
  color: var(--black-white);
}

@media (width < 64rem) {
  .aboutContainer img {
    width: 9.75rem;
  }
}

@media (width < 48rem) {
  .aboutContainer img {
    width: 9rem;
  }
}
/* About Section End */
